In [180]:
using Base
using Dates
using Missings
using ShiftedArrays

using BenchmarkTools
using DataFrames
@using DataFramesMeta
using CSV
using Glob

LoadError: LoadError: UndefVarError: @using not defined
in expression starting at In[180]:8

In [181]:
function find_files(path, pattern, ext)
    if isempty(pattern)
        files=glob("**/*"*ext, path) #Vector of filenames. Glob allows you to use the asterisk.
        println("Number of files: ", length(files))    #Number of files to read.
        return files
    elseif !isempty(pattern)
        files=glob("**/"*pattern*ext, path) #Vector of filenames. Glob allows you to use the asterisk.
        println("Number of files: ", length(files))    #Number of files to read.
        return files
    end
    return []
end

find_files (generic function with 1 method)

In [182]:
parent_dir = "D:/Libraries/Documents/Climatology_Personal/USCRN_USRCRN_SUBHOURLY/"
pattern = "*-MN_Good*"

files = find_files(parent_dir,pattern,".txt")
join_col= ""
header_ = ["WBANNO", "UTC_DATE", "UTC_TIME", "LST_DATE", "LST_TIME", "CRX_VN", "LONGITUDE",
    "LATITUDE", "AIR_TEMPERATURE", "PRECIPITATION", "SOLAR_RADIATION", "SR_FLAG",
    "SURFACE_TEMPERATURE", "ST_TYPE", "ST_FLAG", "RELATIVE_HUMIDITY", "RH_FLAG",
    "SOIL_MOISTURE_5", "SOIL_TEMPERATURE_5", "WETNESS WET_FLAG", "WIND_1_5", "WIND_FLAG"]
types_ = [Int; fill(String, 5); fill(Float64, 5); String; Float64; fill(String,2);
    Float64; String; fill(Float64,3); String; Float64; String]
select_ = ["WBANNO","UTC_DATE","UTC_TIME","LST_DATE","LST_TIME","LONGITUDE","LATITUDE",
    "AIR_TEMPERATURE"]
missingstrings_ = ["","","","","","","","-9999.0","","","","-9999.0","","","","","","-9999.0","","",""]
temp_dfs=Vector{DataFrame}(undef, length(files)) #Create a vector of empty dataframes.
for i in 1:length(files)
    temp_dfs[i]=CSV.read(files[i],DataFrame,ignorerepeated=true,delim=' ',
        header=header_,types=types_, select=select_, missingstrings=missingstrings_,
        silencewarnings=true) #Read each  infileto its own dataframe.
end

df = reduce(vcat, temp_dfs)
describe(df)

#masterdf=join(temp_dfs..., kind = :cross, makeunique=false) #Join the temporary dataframes into one dataframe. 
#masterdf=outerjoin(tempdfs..., on="Column In Common") #Join the temporary dataframes into one dataframe.

Number of files: 16

8×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable        │ mean    │ min      │ median │ max      │ nunique │
│     │ Symbol          │ Union…  │ Any      │ Union… │ Any      │ Union…  │
├─────┼─────────────────┼─────────┼──────────┼────────┼──────────┼─────────┤
│ 1   │ WBANNO          │ 4994.0  │ 4994     │ 4994.0 │ 4994     │         │
│ 2   │ UTC_DATE        │         │ 20060101 │        │ 20210302 │ 5540    │
│ 3   │ UTC_TIME        │         │ 0000     │        │ 2355     │ 288     │
│ 4   │ LST_DATE        │         │ 20051231 │        │ 20210302 │ 5541    │
│ 5   │ LST_TIME        │         │ 0000     │        │ 2355     │ 288     │
│ 6   │ LONGITUDE       │ -95.87  │ -95.87   │ -95.87 │ -95.87   │         │
│ 7   │ LATITUDE        │ 48.31   │ 48.31    │ 48.31  │ 48.31    │         │
│ 8   │ AIR_TEMPERATURE │ 3.61848 │ -42.0    │ 4.4    │ 36.0     │         │

?CSV.read

for (x,y) in enumerate(zip(eltype.(eachcol(df)),names(df)))
    @show x, y
    
end

In [183]:
dropmissing!(df::AbstractDataFrame, "AIR_TEMPERATURE")

date_format = DateFormat("yyyymmdd HHMM")
df.UTC_DATETIME = DateTime.(df.UTC_DATE.*" ".*df.UTC_TIME,date_format)
df.LST_DATETIME = DateTime.(df.LST_DATE.*" ".*df.LST_TIME,date_format)
select!(df, Not([:UTC_DATE, :UTC_TIME, :LST_DATE, :LST_TIME]))

for (x,y) in enumerate(zip(eltype.(eachcol(df)),names(df)))
    @show x, y
    
end

(x, y) = (1, (Int64, "WBANNO"))
(x, y) = (2, (Float64, "LONGITUDE"))
(x, y) = (3, (Float64, "LATITUDE"))
(x, y) = (4, (Float64, "AIR_TEMPERATURE"))
(x, y) = (5, (DateTime, "UTC_DATETIME"))
(x, y) = (6, (DateTime, "LST_DATETIME"))

In [184]:
temp_thresh = -30.
df.THRESH_ORDINAL_RANK = sign.(df.AIR_TEMPERATURE.-temp_thresh)
df.RUN_LENGTH = (df.THRESH_ORDINAL_RANK .- lag(df.THRESH_ORDINAL_RANK)).!= 0
df.RUN_LENGTH[:1] = 0  #We set this to 0 due to the diff() fuction 1 line above, we do not know what occured t=-1 records ago
df.RUN_LENGTH = cumsum(convert(Array{Union{Missing, Int64}}, df.RUN_LENGTH))

1591662-element Array{Union{Missing, Int64},1}:
    0
    0
    0
    0
    0
    0
    0
    0
    0
    0
    0
    0
    0
    ⋮
 1207
 1207
 1207
 1207
 1207
 1207
 1207
 1207
 1207
 1207
 1207
 1207

In [185]:
gdf = groupby(df,:RUN_LENGTH)
temp_dfs=Vector{DataFrame}(undef, length(gdf)) #Create a vector of empty dataframes.
gdf[1]
for i in 1:length(gdf)  
    temp_dfs[i]= DataFrame(UTC_BEGIN_DATETIME = first(gdf[i].UTC_DATETIME),
        UTC_END_DATETIME = last(gdf[i].UTC_DATETIME),
        UTC_DURATION = last(gdf[i].UTC_DATETIME)- first(gdf[i].LST_DATETIME),
        LST_BEGIN_DATETIME = first(gdf[i].LST_DATETIME),
        LST_END_DATETIME = last(gdf[i].LST_DATETIME),
        THRESH_ORDINAL_RANK = first(gdf[i].THRESH_ORDINAL_RANK),
        MEAN_TEMP = mean(gdf[i].AIR_TEMPERATURE),
        MAX_TEMP = maximum(gdf[i].AIR_TEMPERATURE),
        MIN_TEMP = minimum(gdf[i].AIR_TEMPERATURE)

    )
end

res = reduce(vcat, temp_dfs)
#describe(df)

#consecutive_group = [parent(gdf)[i, groupvars(gdf)] for i in gdf.starts]
#res = DataFrame(MEAN_TEMPERATURE = mean.(consecutive_group.AIR_TEMPERATURE))

1208×9 DataFrame. Omitted printing of 6 columns
│ Row  │ UTC_BEGIN_DATETIME  │ UTC_END_DATETIME    │ UTC_DURATION            │
│      │ DateTime            │ DateTime            │ Millisecond             │
├──────┼─────────────────────┼─────────────────────┼─────────────────────────┤
│ 1    │ 2006-01-01T00:05:00 │ 2006-02-16T07:45:00 │ 4023600000 milliseconds │
│ 2    │ 2006-02-16T07:50:00 │ 2006-02-16T07:55:00 │ 21900000 milliseconds   │
│ 3    │ 2006-02-16T08:00:00 │ 2006-02-16T08:00:00 │ 21600000 milliseconds   │
│ 4    │ 2006-02-16T08:05:00 │ 2006-02-16T08:35:00 │ 23400000 milliseconds   │
│ 5    │ 2006-02-16T08:40:00 │ 2006-02-16T08:50:00 │ 22200000 milliseconds   │
│ 6    │ 2006-02-16T08:55:00 │ 2006-02-16T09:00:00 │ 21900000 milliseconds   │
│ 7    │ 2006-02-16T09:05:00 │ 2006-02-16T09:15:00 │ 22200000 milliseconds   │
│ 8    │ 2006-02-16T09:20:00 │ 2006-02-16T09:50:00 │ 23400000 milliseconds   │
│ 9    │ 2006-02-16T09:55:00 │ 2006-02-16T10:10:00 │ 22500000 milliseconds   │
│ 10   │ 2006-02-16T10:15:00 │ 2006-02-16T10:15:00 │ 21600000 milliseconds   │
⋮
│ 1198 │ 2021-02-16T14:40:00 │ 2021-02-17T04:30:00 │ 71400000 milliseconds   │
│ 1199 │ 2021-02-17T04:35:00 │ 2021-02-17T04:35:00 │ 21600000 milliseconds   │
│ 1200 │ 2021-02-17T04:40:00 │ 2021-02-17T04:40:00 │ 21600000 milliseconds   │
│ 1201 │ 2021-02-17T04:45:00 │ 2021-02-17T04:45:00 │ 21600000 milliseconds   │
│ 1202 │ 2021-02-17T04:50:00 │ 2021-02-17T04:55:00 │ 21900000 milliseconds   │
│ 1203 │ 2021-02-17T05:00:00 │ 2021-02-17T05:05:00 │ 21900000 milliseconds   │
│ 1204 │ 2021-02-17T05:10:00 │ 2021-02-17T05:20:00 │ 22200000 milliseconds   │
│ 1205 │ 2021-02-17T05:25:00 │ 2021-02-17T05:25:00 │ 21600000 milliseconds   │
│ 1206 │ 2021-02-17T05:30:00 │ 2021-02-17T05:30:00 │ 21600000 milliseconds   │
│ 1207 │ 2021-02-17T05:35:00 │ 2021-02-17T12:50:00 │ 47700000 milliseconds   │
│ 1208 │ 2021-02-17T12:55:00 │ 2021-03-02T20:00:00 │ 1170300000 milliseconds │

In [186]:
#df.RUN_LENGTH
describe(res)

9×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable            │ mean       │ min                   │ median │
│     │ Symbol              │ Union…     │ Any                   │ Union… │
├─────┼─────────────────────┼────────────┼───────────────────────┼────────┤
│ 1   │ UTC_BEGIN_DATETIME  │            │ 2006-01-01T00:05:00   │        │
│ 2   │ UTC_END_DATETIME    │            │ 2006-02-16T07:45:00   │        │
│ 3   │ UTC_DURATION        │            │ 21600000 milliseconds │        │
│ 4   │ LST_BEGIN_DATETIME  │            │ 2005-12-31T18:05:00   │        │
│ 5   │ LST_END_DATETIME    │            │ 2006-02-16T01:45:00   │        │
│ 6   │ THRESH_ORDINAL_RANK │ 0.00827815 │ -1.0                  │ 0.0    │
│ 7   │ MEAN_TEMP           │ -28.6093   │ -36.4704              │ -30.0  │
│ 8   │ MAX_TEMP            │ -27.1237   │ -31.2                 │ -30.0  │
│ 9   │ MIN_TEMP            │ -30.4815   │ -42.0                 │ -30.0  │

In [187]:
#@where(res, :THRESH_ORDINAL_RANK .== -1)
show(sort!(res[res[:,:THRESH_ORDINAL_RANK] .== -1, :], [:UTC_DURATION, :MEAN_TEMP]), true)

440×9 DataFrame
│ Row │ UTC_BEGIN_DATETIME  │ UTC_END_DATETIME    │ UTC_DURATION           │
│     │ DateTime            │ DateTime            │ Millisecond            │
├─────┼─────────────────────┼─────────────────────┼────────────────────────┤
│ 1   │ 2018-01-13T07:00:00 │ 2018-01-13T07:00:00 │ 21600000 milliseconds  │
│ 2   │ 2009-02-03T12:20:00 │ 2009-02-03T12:20:00 │ 21600000 milliseconds  │
│ 3   │ 2017-01-05T02:05:00 │ 2017-01-05T02:05:00 │ 21600000 milliseconds  │
│ 4   │ 2019-02-09T02:25:00 │ 2019-02-09T02:25:00 │ 21600000 milliseconds  │
│ 5   │ 2007-12-14T10:55:00 │ 2007-12-14T10:55:00 │ 21600000 milliseconds  │
│ 6   │ 2020-01-11T03:40:00 │ 2020-01-11T03:40:00 │ 21600000 milliseconds  │
│ 7   │ 2011-01-03T03:55:00 │ 2011-01-03T03:55:00 │ 21600000 milliseconds  │
│ 8   │ 2016-02-13T06:35:00 │ 2016-02-13T06:35:00 │ 21600000 milliseconds  │
│ 9   │ 2017-01-05T04:25:00 │ 2017-01-05T04:25:00 │ 21600000 milliseconds  │
│ 10  │ 2017-12-27T03:45:00 │ 2017-12-27T03:45:00 │ 21600000 milliseconds  │
⋮
│ 430 │ 2009-01-13T03:40:00 │ 2009-01-13T16:55:00 │ 69300000 milliseconds  │
│ 431 │ 2007-02-05T01:30:00 │ 2007-02-05T15:05:00 │ 70500000 milliseconds  │
│ 432 │ 2014-01-02T02:00:00 │ 2014-01-02T15:50:00 │ 71400000 milliseconds  │
│ 433 │ 2008-02-11T00:25:00 │ 2008-02-11T14:15:00 │ 71400000 milliseconds  │
│ 434 │ 2021-02-14T01:15:00 │ 2021-02-14T15:15:00 │ 72000000 milliseconds  │
│ 435 │ 2010-01-02T00:50:00 │ 2010-01-02T15:45:00 │ 75300000 milliseconds  │
│ 436 │ 2009-01-15T23:10:00 │ 2009-01-16T14:25:00 │ 76500000 milliseconds  │
│ 437 │ 2009-01-14T23:45:00 │ 2009-01-15T15:40:00 │ 78900000 milliseconds  │
│ 438 │ 2017-12-30T22:40:00 │ 2017-12-31T15:55:00 │ 83700000 milliseconds  │
│ 439 │ 2014-01-05T21:35:00 │ 2014-01-06T17:45:00 │ 94200000 milliseconds  │
│ 440 │ 2019-01-29T10:55:00 │ 2019-01-31T16:10:00 │ 213300000 milliseconds │

│ Row │ LST_BEGIN_DATETIME  │ LST_END_DATETIME    │ THRESH_ORDINAL_RANK │
│     │ DateTime            │ DateTime            │ Float64             │
├─────┼─────────────────────┼─────────────────────┼─────────────────────┤
│ 1   │ 2018-01-13T01:00:00 │ 2018-01-13T01:00:00 │ -1.0                │
│ 2   │ 2009-02-03T06:20:00 │ 2009-02-03T06:20:00 │ -1.0                │
│ 3   │ 2017-01-04T20:05:00 │ 2017-01-04T20:05:00 │ -1.0                │
│ 4   │ 2019-02-08T20:25:00 │ 2019-02-08T20:25:00 │ -1.0                │
│ 5   │ 2007-12-14T04:55:00 │ 2007-12-14T04:55:00 │ -1.0                │
│ 6   │ 2020-01-10T21:40:00 │ 2020-01-10T21:40:00 │ -1.0                │
│ 7   │ 2011-01-02T21:55:00 │ 2011-01-02T21:55:00 │ -1.0                │
│ 8   │ 2016-02-13T00:35:00 │ 2016-02-13T00:35:00 │ -1.0                │
│ 9   │ 2017-01-04T22:25:00 │ 2017-01-04T22:25:00 │ -1.0                │
│ 10  │ 2017-12-26T21:45:00 │ 2017-12-26T21:45:00 │ -1.0                │
⋮
│ 430 │ 2009-01-12T21:40:00 │ 2009-01-13T10:55:00 │ -1.0                │
│ 431 │ 2007-02-04T19:30:00 │ 2007-02-05T09:05:00 │ -1.0                │
│ 432 │ 2014-01-01T20:00:00 │ 2014-01-02T09:50:00 │ -1.0                │
│ 433 │ 2008-02-10T18:25:00 │ 2008-02-11T08:15:00 │ -1.0                │
│ 434 │ 2021-02-13T19:15:00 │ 2021-02-14T09:15:00 │ -1.0                │
│ 435 │ 2010-01-01T18:50:00 │ 2010-01-02T09:45:00 │ -1.0                │
│ 436 │ 2009-01-15T17:10:00 │ 2009-01-16T08:25:00 │ -1.0                │
│ 437 │ 2009-01-14T17:45:00 │ 2009-01-15T09:40:00 │ -1.0                │
│ 438 │ 2017-12-30T16:40:00 │ 2017-12-31T09:55:00 │ -1.0                │
│ 439 │ 2014-01-05T15:35:00 │ 2014-01-06T11:45:00 │ -1.0                │
│ 440 │ 2019-01-29T04:55:00 │ 2019-01-31T10:10:00 │ -1.0                │

│ Row │ MEAN_TEMP │ MAX_TEMP │ MIN_TEMP │
│     │ Float64   │ Float64  │ Float64  │
├─────┼───────────┼──────────┼──────────┤
│ 1   │ -30.9     │ -30.9    │ -30.9    │
│ 2   │ -30.8     │ -30.8    │ -30.8    │
│ 3   │ -30.8     │ -30.8    │ -30.8    │
│ 4   │ -30.8     │ -30.8    │ -30.8    │
│ 5   │ -30.7     │ -30.7    │ -30.7    │
│ 6   │ -30.6     │ -30.6    │ -30.6    │
│ 7   │ -30.5     │ -30.5    │ -30.5    │
│ 8   │ -30.5     │ -30.5    │ -30.5    │
│ 9   │ -30.5     │ -30.5    │ -30.5    │
│ 10  │ -30.5     │ -30.5    │ -30.5    │
⋮
│ 430 │ -35.8381  │ -30.3    │ -41.4    │
│ 431 │ -33.8829  │ -30.2    │ -36.6    │
│ 432 │ -36.272   │ -30.3    │ -40.2    │
│ 433 │ -32.9497  │ -30.1    │ -36.0    │
│ 434 │ -32.8231  │ -30.1    │ -36.6    │
│ 435 │ -35.2083  │ -30.2    │ -39.4    │
│ 436 │ -32.5924  │ -30.2    │ -35.0    │
│ 437 │ -32.1328  │ -30.1    │ -33.8    │
│ 438 │ -32.6452  │ -30.1    │ -37.0    │
│ 439 │ -31.5062  │ -30.1    │ -32.8    │
│ 440 │ -35.1311  │ -30.1    │ -42.0    │